@model AnketniSustavZaKucanstvoLibrary.BLL.DTO.AnketaDto

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3">
            @Html.Label("Kućanstvo:")
            @Html.DropDownListFor(model => model.KucanstvoID, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", @data_width = "100%" })
            @Html.ValidationMessageFor(model => model.KucanstvoID, "", new { @class = "text-danger" })
        </div>

        <div class="md-form form-group mb-3">
            @Html.EditorFor(model => model.IznosHraneZaProsliMjesec, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model=> model.IznosHraneZaProsliMjesec, "Iznos hrane za prošli mjesec")
            @Html.ValidationMessageFor(model => model.IznosHraneZaProsliMjesec, "", new { @class = "text-danger" })
        </div>

        <div class="md-form form-group mb-3">
            @Html.EditorFor(model => model.IznosRacunaZaProsliMjesec, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.IznosRacunaZaProsliMjesec, "Iznos računa za prošli mjesec")
            @Html.ValidationMessageFor(model => model.IznosRacunaZaProsliMjesec, "", new { @class = "text-danger" })
        </div>

        <div class="md-form form-group mb-3">
            @Html.EditorFor(model => model.IznosZabaveZaProsliMjesec, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model=> model.IznosZabaveZaProsliMjesec, "Iznos zabave za prošli mjesec")
            @Html.ValidationMessageFor(model => model.IznosZabaveZaProsliMjesec, "", new { @class = "text-danger" })
        </div>

        <div class="md-form form-group mb-3">
            @Html.EditorFor(model => model.IznosOstalihIzdatakaZaProsliMjesec, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model=>model.IznosOstalihIzdatakaZaProsliMjesec, "Iznos ostalih izdataka za prošli mjesec")
            @Html.ValidationMessageFor(model => model.IznosOstalihIzdatakaZaProsliMjesec, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.Label("Valuta:")
            @Html.DropDownListFor(model => model.ValutaID, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", @data_width = "100%" })
            @Html.ValidationMessageFor(model => model.ValutaID, "", new { @class = "text-danger" })
        </div>

        <div>
            <input type="submit" value="Spremi anketu" class="btn btn-secondary" />
        </div>
    </div>
}
